---
import {getCollection} from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Layout from "@components/Layout.astro";

export async function getStaticPaths({paginate}) {
  const posts = (await getCollection('post')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  return paginate(posts, {pageSize: 10});
}

const {page} = Astro.props;
---

<Layout>
  <section>
    <ul>
      {
        page.data.map((p) => (
          <li>
            <a href={`/post/${p.slug}/`}><h4 class="title">{p.data.title}</h4></a>
            <p class="date">
              <FormattedDate date={p.data.pubDate}/>
            </p>
          </li>
        ))
      }
    </ul>
  </section>
  {page.url.prev ? <a href={page.url.prev}>上一页</a> : null}
  {page.url.next ? <a href={page.url.next}>下一页</a> : null}
</Layout>