---
import {getCollection} from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Layout from "@components/Layout.astro";
import {DESCRIPTION, TITLE} from "../../../consts";

export async function getStaticPaths({paginate}) {
  const posts = (await getCollection('post')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  return paginate(posts, {pageSize: 10});
}

const postsLength = (await getCollection('post')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).length;

const {page} = Astro.props;
---

<Layout title={'归档 - ' + TITLE} description={DESCRIPTION}>
  <div class="w-2/5">
    <ul>
      <li>共有 {postsLength} 篇博客</li>
      {
        page.data.map((p) => (
          <li>
            <label>
              <FormattedDate date={p.data.pubDate}/>
            </label>
            <a href={`/post/${p.slug}/`}
               class="link link-primary">
              <h4 class="inline">{p.data.title}</h4></a>
          </li>
        ))
      }
    </ul>
    <div class="join grid grid-cols-2">
      {page.url.prev ? <a href={page.url.prev} class="join-item btn btn-outline">上一页</a> :
        <button class="join-item btn btn-outline">已无上页</button>}
      {page.url.next ? <a href={page.url.next} class="join-item btn btn-outline">下一页</a> :
        <button class="join-item btn btn-outline">已无下页</button>}
    </div>
  </div>
</Layout>