---
import {TITLE, DESCRIPTION} from '@consts';
import {getCollection} from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Layout from "@components/Layout.astro";

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 5);
---

<Layout title={TITLE} description={DESCRIPTION}>
  <ul>
    {posts.map((p) => (
      <li>
        <a href={`/post/${p.slug}/`} class="link link-primary"><h2>{p.data.title}</h2></a>
        <h4>
          <FormattedDate date={p.data.pubDate}/>
        </h4>
      </li>
    ))}
  </ul>
</Layout>