---
import {getCollection} from 'astro:content';
import Layout from '@components/Layout.astro';
import {TITLE} from "../../consts";
import TOC from "../../components/TOC.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection('post');
  return posts.map((p) => ({
    params: {slug: p.slug},
    props: p,
  }));
}

const markdownData = Astro.props.data;

const {Content, headings, remarkPluginFrontmatter} = await Astro.props.render();
---

<Layout title={markdownData.title + ' - ' + TITLE} description={markdownData.description}>
  <article class="lg:w-1/2 md:w-auto">
    <h1>{markdownData.title}</h1>
    <p>
      <FormattedDate date={markdownData.pubDate}/>
      &nbsp;&nbsp;
      {remarkPluginFrontmatter.minutesRead}
    </p>
    {headings && headings.length > 0 && (
      <nav>
        <TOC headings={headings}/>
      </nav>
    )}
    <Content/>
  </article>

  <!-- Google Adsense -->
  <!--<script type="text/partytown" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
  <!--<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1877996349803670" data-ad-slot="6956738551"-->
  <!--     data-ad-format="auto" data-full-width-responsive="true"></ins>-->
  <!--<script type="text/partytown">-->
  <!--  (adsbygoogle = window.adsbygoogle || []).push({});-->
  <!--</script>-->

</Layout>