---
import {getCollection} from 'astro:content';
import Layout from '@components/Layout.astro';
import {TITLE} from "../../consts";
import TOC from "../../components/TOC.astro";

export async function getStaticPaths() {
  const posts = await getCollection('post');
  return posts.map((p) => ({
    params: {slug: p.slug},
    props: p,
  }));
}

const post = Astro.props;

const {Content, headings} = await post.render();
---

<Layout title={post.data.title + ' - ' + TITLE} description={post.data.description}>
  <article class="w-3/4">
    <h1>{post.data.title}</h1>
    {headings && headings.length > 0 && (
      <nav>
        <TOC headings={headings}/>
      </nav>
    )}
    <Content/>
  </article>
</Layout>