---
import {getCollection} from 'astro:content';
import Layout from '@components/Layout.astro';
import {TITLE} from "../../consts";
import TOC from "../../components/TOC.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection('post');
  return posts.map((p) => ({
    params: {slug: p.slug},
    props: p,
  }));
}

const markdownData = Astro.props.data;

const {Content, headings} = await Astro.props.render();
---

<Layout title={markdownData.title + ' - ' + TITLE} description={markdownData.description}>
  <article class="w-1/2">
    <h1>{markdownData.title}</h1>
    <p>
      <FormattedDate date={markdownData.pubDate}/>
    </p>
    {headings && headings.length > 0 && (
      <nav>
        <TOC headings={headings}/>
      </nav>
    )}
    <Content/>
  </article>
</Layout>