---
import {AUTHOR, DESCRIPTION} from '@consts';
import {getCollection} from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Layout from "@components/Layout.astro";

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 10);
---

<Layout title={AUTHOR} description={DESCRIPTION}>
  <section>
    <ul>
      {
        posts.map((p) => (
          <li>
            <a href={`/post/${p.slug}/`}><h4 class="title">{p.data.title}</h4></a>
            <p class="date">
              <FormattedDate date={p.data.pubDate}/>
            </p>
          </li>
        ))
      }
    </ul>
  </section>
  <a href="/post/page/2">下一页</a>
</Layout>