---
import {TITLE, DESCRIPTION} from '@consts';
import {getCollection} from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Layout from "@components/Layout.astro";

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title={'归档 - ' + TITLE} description={DESCRIPTION}>
  <div class="w-2/5">
    <ul>
      <li>共有 {posts.length} 篇博客</li>
      {
        posts.slice(0, 10).map((p) => (
          <li>
            <a href={`/post/${p.slug}/`} class="link link-primary"><h4>{p.data.title}</h4></a>
            <p>
              <FormattedDate date={p.data.pubDate}/>
            </p>
          </li>
        ))
      }
    </ul>
    <div class="join grid grid-cols-2">
      <button class="join-item btn btn-outline">已无上页</button>
      <a href="/post/page/2" class="join-item btn btn-outline">下一页</a>
    </div>
  </div>
</Layout>