---
import {SINCE} from "../consts";

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-cn" data-theme="light">
<head>
  <!-- Google Adsense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1877996349803670"
          crossorigin="anonymous"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZVJCKFMF3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-JZVJCKFMF3');
  </script>

  <!-- Clarity -->
  <script async>
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () {
        (c[a].q = c[a].q || []).push(arguments)
      };
      t = l.createElement(r);
      t.async = 1;
      t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0];
      y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "k11lqre3le");
  </script>

  <!-- Cloudflare Web Analytics -->
  <script async src='https://static.cloudflareinsights.com/beacon.min.js'
          data-cf-beacon='{"token": "150ed40372b94065a96b18d372752237"}'></script>

  <!-- Global Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL}/>

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title}/>
  <meta name="description" content={description}/>
  <meta name="keywords"
        content="sulinehk blog, sulinehk 博客, 计算机科学, 软件工程, 数据结构与算法分析, Go 语言实践"/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:url" content={Astro.url}/>
  <meta property="og:title" content={title}/>
  <meta property="og:description" content={description}/>
  <meta property="og:image" content={new URL('/avatar.webp', Astro.url)}/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:url" content={Astro.url}/>
  <meta property="twitter:title" content={title}/>
  <meta property="twitter:description" content={description}/>
  <meta property="twitter:image" content={new URL('/avatar.webp', Astro.url)}/>
</head>
<body>
<header class="flex flex-row justify-center">
  <ul class="menu menu-horizontal">
    <li><a class="link link-primary" href="/">Home</a></li>
    <li><a class="link link-primary" href="/post">Post</a></li>
    <li><a class="link link-primary" href="/categories">Category</a></li>
    <li><a class="link link-primary" href="/about">About</a></li>
  </ul>
</header>
<main class="prose max-w-none flex flex-row justify-center pt-8">
  <slot/>
</main>
<footer class="footer footer-center p-4 text-base-content">
  <aside>
    <p>Copyright © {SINCE + ' - ' + new Date().getFullYear()} - All right reserved by sulinehk</p>
  </aside>
</footer>
</body>
</html>